<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>
<body>
<h3>Book list</h3>
    <ul class = "pagination justify-content-end">
        <li class="page-item"><a href="#" class ="page-link">Prev</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
    <div class ="container">
        <table class="table table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>action</th>

                </tr>
            </thead>
            <tbody>
                {% for personne in personnes %}
                <tr>
                    <td>{{ forloop.counter0|add:personnes.start_index }}</td>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td><a href="{% url 'myapp:editpers' personne.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

        <div class="pagination">
            <span class="step-links">
                {% if personnes.has_previous %}                                     <!--If there is a previous page-->
                    <a href="?page={{personnes.previous_page_number }}">previous page</a>  <!--Hyperlink to previous page on Click-->
                {% endif %}

                <span class="current">
                    Page{{ personnes.number }} of {{ personnes.paginator.num_pages }}  <!--customers_list.number Is the current page number,customers_list.paginator.num_pages Is the total number of pages-->
                </span>

                {% if personnes.has_next %}    <!--If there is a next page-->
                    <a href="?page={{ personnes.next_page_number }}">next page</a>    <!--Hyperlink to next page when clicked-->
                {% endif %}
            </span>
        </div>
        {% comment %}  {% endcomment %}
        <div class="col-4 offset-4">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if personnes.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ personnes.previous_page_number }}" class="page-link">Previous</a>
                        </li>
                        <li>
                            <a class="page-link" href="?page={{ personnes.previous_page_number }}">
                                {{ personnes.previous_page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ personnes.number }}</span>
                    </li>

                    {% if personnes.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ personnes.next_page_number }}">
                                {{ personnes.next_page_number }}
                            </a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link" href="?page={{ personnes.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>

        {% comment %}  {% endcomment %}
        {% if personnes.has_other_pages %}
    <ul class="pagination">
   {% if personnes.has_previous %}
     <li class ="page-item"><a class="page-link" href="?page={{ personnes.previous_page_number }}">«</a></li>
   {% else %}
     <li class="page-item disabled"><span>«</span></li>
   {% endif %}
   {% for i in personnes.paginator.page_range %}
     {% if personnes.number == i %}
    <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
     {% else %}
    <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}
   {% if personnes.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ personnes.next_page_number }}">»</a></li>
   {% else %}
     <li class=" page-item disabled"><span>»</span></li>
   {% endif %}
    </ul>
  {% endif %}

    </div>
</body>
</html>