{% load my_tags %}
<ul class = "pagination pagination-sm justify-content-end">
    {% if pers.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=pers.previous_page_number %}"><<</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=pers.previous_page_number %}">
                {{ pers.previous_page_number }}
            </a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link"><<</span>
        </li>
    {% endif %}
    <li class="page-item active">
        <span class="page-link">{{ pers.number }}</span>
    </li>
    {% if pers.has_next %}
            <li class="page-item">
            <a class="page-link" href="?{% param_replace page=pers.next_page_number %}">
                {{ pers.next_page_number }}
            </a>
        </li> 
        <li class="page-item ">
            <a class="page-link" href="?{% param_replace page=pers.next_page_number %}">>></a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">>></span>
        </li>
    {% endif %}
</ul>
